.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f1f27;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Firstcomponent{
  background-color: rgb(228, 143, 14);
}

.Secondcomponent{
  background-color: rgb(157, 209, 222);
}

.Contactuscomponent{
  background-color: dimgray;
}

.Helpcomponent{
  background-color: rgb(121, 38, 38);
}