.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #464652;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Firstcomponent{
  background-color: rgb(228, 143, 14);
}
.Secondcomponent{
  background-color: rgb(157, 209, 222);
}
.Contactuscomponent{
  background-color: dimgray;
  text-transform: uppercase;
}
.Helpcomponent{
  background-color: rgb(121, 38, 38);
  justify-self: baseline;
}
.Thirdcomponent{
  background-color: darkslategrey;
  color: khaki;
}
.Fourthcomponent{
  background-color: rgb(171, 74, 93);
  text-decoration-line: underline;
}
.Sixthcomponent{
  background-color: grey;
  color: midnightblue;
}
.Notfound{
  font-size: 45px;
  color: crimson;
  font-weight: bolder;
}

nav{
  background-color: cyan;
  padding: 10px;
}
.navlinks{
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  background-color: darkcyan;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
}
.navlinks:hover{
  background-color: rgb(5, 60, 92);
  color: white;
}